body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 2vh 10vw;
}

.rps-icon {
    width: 200px;
    height: auto;
}

.game-title {
    font-weight: 700;
    font-size: 40px;
    color: darkslategray;
}

#play-game {
    width: 200px;
    height: 75px;
    background-color: rgb(133, 230, 230);
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

#play-game:hover {
    cursor: pointer;
}